<!--Hoi Yeung Suen, 301314454, 30/9/2023,Fall 2023-->
<%- include ('partials/header.ejs') %>
  <%- include ('partials/main_nav.ejs') %>

    <link rel="stylesheet" href="Content/style.css" />
    <main class="container">
      <div class="middle">
        <div class="jumbotron">

          <h1>Welcome to <%= title %> Page</h1>
        </div>
        <form action="/submitForm" method="POST"></form>
        <div class="contact-info">
          <h3>Contact Info</h3>
          <p>Email: suenhoiyeung@gmail.com</p>
          <p>Phone: +1 (437) 799-9777</p>
        </div>
        <h3>Message me</h3>
        <div>
          <input class="form-control" id="Firstname" name="Firstname" type="text" required="required"
            placeholder="First Name">
          <input class="form-control" id="Lastname" name="Lastname" type="text" required="required"
            placeholder="Last Name">
        </div>
        <p></p>
        <div>
          <label for="Email">Email</label>
          <input class="form-control" id="Email" name="Email" type="email" required="required"
            placeholder="name@example.com">
        </div>
        <p></p>
        <div>
          <label for="Phone">Phone</label>
          <input class="form-control" id="Phone" name="Phone" type="tel" required="required"
            placeholder="(123)456-7890">
        </div>
        <div>
          <label for="Message">Message</label>
          <textarea class="form-control" name="message" id="message" cols="30" rows="1"
            placeholder="Write your message">
            </textarea>
        </div>
        <div class="bottom">
          <p>
            <input class="btn btn-primary rounded-0 py-2 px-4" name="btnSubmit" type="submit" value="Submit">
            <input class="btn btn-primary rounded-0 py-2 px-4" name="btnReset" type="reset" value="Reset">
          </p>
        </div>
      </div>
      </div>

    </main>

    <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>