<!--Hoi Yeung Suen, 301314454, 30/9/2023,Fall 2023-->
<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <link rel="stylesheet" href="Content/style.css" />
        <main class="container">
            <div class="middle">
                <div class="jumbotron">

                    <h1>Welcome to <%= title %> Page</h1>
                    <div class="basicinfo" style="background-image: url('img/main.jpg'); background-repeat: no-repeat;">
                        <p></p>
                        <p></p>
                        <p></p>
                        <h2>Remember: Life is short,</h2>
                        <h2>break the rules</h2>
                    </div>
                </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>